env:
  es6: true
  browser: true
extends: 'eslint:recommended'
rules:
  indent:
    - error
    - 4
  no-unused-vars:
    - warn
  no-console: 0
globals:
     _: true
     EasyStar: true
     noise: true
     faker: true
     Resurrect: true
parserOptions:
  sourceType: module
